.container {
    display: flex;
    margin: 1vh 0;
}

.flexrow {
    display: flex;
    align-items: center;
}

.input {
    margin-right: 0.5vw;
}

.parah {
    color: #707683;
    font-size: 1.4vh;
    font-weight: 400;
    margin-top: 0.5vh;
}

@media (max-width: 480px) {
    .parah {
        font-size: 1.3vh;
        margin: 0 0 0 1vw;
    }

    .container {
        display: flex;
        flex-direction: column;
        margin: 1vh 0;
    }

    .flexrow {
        display: flex;
        align-items: center;
    }

    .flexr {
        display: flex;
        align-items: flex-start;
    }
}