.background {
  margin: 1vh 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 2vh 0;
  align-items: center;
}

.head {
  padding: 0vh 1vw;
  border-right: 1px solid #EBEFF2;
}

.headlast {
  padding: 0vh 1vw;
}

@media (max-width: 480px) {
  .background {
    padding: 1.5vh 1vw;
  }

  .firstChild {
    flex: 2 !important;
  }
}